{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "es6": true
  },
  "extends": [
      "airbnb-base"
  ],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "rules": {
      "linebreak-style": ["error", "windows"],
      "no-use-before-define": ["error", { "functions": false, "variables": false }],
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "import/extensions": ["error", "ignorePackages", {"js": "never"}],
      "max-len": ["error", { "code": 80 }]
  }
}
