@import './assets/css/clear.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 102rem;
  min-height: 5rem;
  margin: 0 auto;
  padding: 2rem;
}

.textarea {
  width: calc(100% - 10px);
  height: 30rem;
  resize: none;
  margin: 0 .2rem 2rem;
  font-size: 1.6rem;
}

.keyboard {
  max-width: 102rem;
  width: 100%;
  min-height: 5rem;
  padding: 2rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  transition: bottom .4s ease-in;

  &__line {
    display: flex;
    justify-content: space-between;
  }

  &__key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: rgb(69,73,71);
    background: linear-gradient(180deg, rgba(69,73,71,1) 0%, rgba(1,1,1,1) 100%);
    margin: .3rem .2rem;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: .3rem .3rem .7rem .3rem rgba(0,0,0,0.7);
       -moz-box-shadow: .3rem .3rem .7rem .3rem rgba(0,0,0,0.7);
            box-shadow: .3rem .3rem .7rem .3rem rgba(0,0,0,0.7);
    transition: all .3s;
  }

  &__key-medium {
    width: 7rem;
  }

  &__key-wide {
    width: 13.5rem;
  }

  &__key-wideplus {
    width: 16rem;
  }

  &__key-overwide{
    width: 39.9rem;
  }

  .key__content {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
  }
  
  .key__content-shift {
    text-transform: uppercase;
  }
  .keyboard__key-active,
  .keyboard__key:active {
    transform: scale(.95);
    background: rgb(60,134,227);
    background: linear-gradient(180deg, rgba(60,134,227,1) 0%, rgba(18,85,170,1) 100%);
    -webkit-box-shadow: .3rem .3rem .4rem .1rem rgba(0,0,0,0.7);
      -moz-box-shadow: .3rem .3rem .4rem .1rem rgba(0,0,0,0.7);
            box-shadow: .3rem .3rem .4rem .1rem rgba(0,0,0,0.7);
  }
}
.keyboard-active {
  bottom: 0;
}
